body {
	font-family: Arial, Helvetica, sans-serif;
}

.bg {
	position: fixed;
	bottom: 0px;
	width: 100%;
	opacity: 0.9;
	z-index: -1;
}

.mainPage {
	margin: 50px;
	height: 100%;
}

.bottom {
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
}

.welcome {
	height: 100%;
	widrh: 100%;
}

#avatar {
	border-radius: 50%;
}
}